<h1> <%= @user.email%>'s items </h1>
<hr>

<% if @user.items.empty? %>
	'You have no items'
<% else %>
	<% @user.items.each do |item| %>
		<p><%=link_to(item.name, user_item_path(user_id: @user.id, id: item.id))%></p>

<% end %>
<% end %>
